<header class="header">
    <div class="container">

        <div class="header-info">
            <div class="header-right">
                <div class="header-right__item">
                    KOREAN COSMETIC
                </div>
                <ul class="header-right__social">
                    <li>
                        <a href="#">
                            <svg class="header-right__social-item" aria-label="instagram">
                                <use xlink:href="imgmin/sprite.svg#inst"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg class="header-right__social-item" aria-label="telegram">
                                <use xlink:href="imgmin/sprite.svg#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg class="header-right__social-item" aria-label="E-mail">
                                <use xlink:href="imgmin/sprite.svg#mail"></use>
                            </svg>
                        </a>
                    </li>                
                </ul>
            </div>

            <a href="#" class="logo header__logo" aria-label="logo">
                <svg class="logo">
                    <use xlink:href="imgmin/sprite.svg#logo"></use>
                </svg>
            </a>

            <ul class="header-left">
                <li class="header-left__item">+(373) 777 77 777</li>
                <li class="header-left__item">neko.pmr@gmail.com</li>
            </ul>
        </div>

        <ul class="header-nav nav__list">
            <li class="header-nav__item"><a href="#" class="header-nav__link">УХОД ЗА ЛИЦОМ</a></li>
            <li class="header-nav__item"><a href="#" class="header-nav__link">УХОД ЗА ВОЛОСАМИ</a></li>
            <li class="header-nav__item"><a href="#" class="header-nav__link">УХОД ЗА ТЕЛОМ</a></li>
            <li class="header-nav__item"><a href="#" class="header-nav__link">БРЕНДЫ</a></li>
            <li class="header-nav__item"><a href="#" class="header-nav__link">БЛОГ</a></li>
        </ul>

    </div>
</header>
    
