:root {
    --content-width: 1200px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

    --color-gray: #333;
    --color-gray-transparency: #33333349;
    --color-white-transparency: #ffffff49;
    --color-orange: #ff5c00;
    --color-blue: rgb(0, 164, 175);
}